<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<div class="dashboard_container">
			<div class="left_menu_container" id="menuList">
				<span id="closeBtn" class="close_btn"
					><i class="bx bx-arrow-back"></i
				></span>
				<div class="user_profile">
					<img src="../img/man.png" alt="" class="profile_img" />
				</div>
				<hr />
				<div class="menu_list">
					<ul class="menu">
						<a href="" class="menu_link"
							><li class="menu_item">Orders List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Products List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Brands List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Employees List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Log Out</li></a
						>
					</ul>
				</div>
			</div>
			<div class="right_content_container">
				<div class="content_header">
					<div id="toggleBtn">
						<i class="bx bx-menu-alt-left"></i>
					</div>
					<div class="logo_name"><h2>M-shop</h2></div>
					<div class="noti"><i class="bx bxs-bell-ring"></i></div>
				</div>
				<div class="container">
					<h2 class="title">M shop Item list</h2>
					<div class="add_btn">
						<button class="btn primary_btn">New Product</button>
					</div>
					<div class="list_container">
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
						<div class="card">
							<div class="card_img">
								<img src="../img/iphone13.jpg" alt="" />
							</div>
							<div class="card_title">Iphone</div>
							<div class="card_desc">
								Apple inc made iph 13 pro
							</div>
							<div class="btn_group">
								<i class="bx bx-pencil"></i>
								<i class="bx bx-trash"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../index.js"></script>
</html>
