<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link
			href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<div class="dashboard_container">
			<div class="left_menu_container" id="menuList">
				<span id="closeBtn" class="close_btn"
					><i class="bx bx-arrow-back"></i
				></span>
				<div class="user_profile">
					<img src="../img/man.png" alt="" class="profile_img" />
				</div>
				<hr />
				<div class="menu_list">
					<ul class="menu">
						<a href="" class="menu_link"
							><li class="menu_item">Order List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Product List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Brands List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Employee List</li></a
						>
						<a href="" class="menu_link"
							><li class="menu_item">Log Out</li></a
						>
					</ul>
				</div>
			</div>
			<div class="right_content_container">
				<div class="content_header">
					<div id="toggleBtn">
						<i class="bx bx-menu-alt-left"></i>
					</div>
					<div class="logo_name"><h2>M-shop</h2></div>
					<div class="noti"><i class="bx bxs-bell-ring"></i></div>
				</div>
				<div class="container">
					<div class="card accordion title_flex">
						<div class="acc_flex">
							<div class="acc_title">Customer Name</div>
							<div class="acc_title">Order Date</div>
							<div class="acc_title">Address</div>
							<div class="acc_title">Action</div>
						</div>
					</div>
					<div class="card accordion">
						<div class="acc_flex acc_data">
							<div class="">Customer Name</div>
							<div><span>1212/12/12</span></div>
							<div>
								<span
									>No12, Bokyoke Aung San Road, Yangon,
									Myanmar,
								</span>
							</div>
							<div>
								<button class="btn primary_btn">Pending</button>
								<button class="btn danger_btn">
									Reject
								</button>
								<button class="acc_toggle btn secondary_btn">
									View<i class="bx bx-down-arrow-alt"></i>
								</button>
							</div>
						</div>
						<div class="acc_panel">
							<div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
                            <div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
						</div>
					</div>
                    <div class="card accordion">
						<div class="acc_flex acc_data">
							<div class="">Customer Name</div>
							<div><span>1212/12/12</span></div>
							<div>
								<span
									>No12, Bokyoke Aung San Road, Yangon,
									Myanmar,
								</span>
							</div>
							<div>
								<button class="btn primary_btn">Pending</button>
								<button class="btn danger_btn">
									Reject
								</button>
								<button class="acc_toggle btn secondary_btn">
									View<i class="bx bx-down-arrow-alt"></i>
								</button>
							</div>
						</div>
						<div class="acc_panel">
							<div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
                            <div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
						</div>
					</div>
                    <div class="card accordion">
						<div class="acc_flex acc_data">
							<div class="">Customer Name</div>
							<div><span>1212/12/12</span></div>
							<div>
								<span
									>No12, Bokyoke Aung San Road, Yangon,
									Myanmar,
								</span>
							</div>
							<div>
								<button class="btn primary_btn">Pending</button>
								<button class="btn danger_btn">
									Reject
								</button>
								<button class="acc_toggle btn secondary_btn">
									View<i class="bx bx-down-arrow-alt"></i>
								</button>
							</div>
						</div>
						<div class="acc_panel">
							<div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
                            <div class="item">
								<span>Brand Name: Huawei</span><br />
								<span>Model : Y7P</span><br />
								<span
									>Specifications: Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Ex, nemo culpa
									dolorem exercitationem velit debitis iure
									ipsam, dolor consequatur nam cum aspernatur?
									Inventore, autem unde repellendus voluptatum
									perferendis ab cum.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../index.js"></script>
</html>
